.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $color-black;
  color: $color-swirl;
  z-index: 1000;
}

.preloader__wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}

.preloader__text {
  @extend %description-48;
  @extend %center-pos-abs;
  line-height: 5.5rem;
  text-transform: uppercase;
  text-align: center;
}

.preloader__number {
  position: absolute;
  @extend %description-48;
  bottom: 2rem;
  left: 2rem;
}
